/*---Gradiant---*/
@import "../utils/gradiant.scss";
/*---Variable---*/
@import "../utils/variable.scss";
/*---Font-face---*/
@import "../Fonts/police.scss";
/*---header---*/
@import "../layout/header.scss";
/*---bloc_menu---*/
@import "../layout/bloc_menu.scss";
/*--footer--*/
@import "../layout/footer.scss";

body{
    color: rgb(61, 19, 25);
}
h4{
    font-size: 40px;
    padding-bottom: 20px;
}
.note{
    main{
        background-color: $back-color-m1;
        font-family: "devon_shire";
        
    }
    .fa-music{
    @include color-icones;
    }
}
.menu_head{
    h2{
        padding-top: 40px;
        padding-right: 10px;
        height: 70px;
    }
}
.delice{
    
    main{
        background-color: $back-color-m3;
        font-family: "dancing";
        h2{
            @include gradient-delice
        }
    }
}
.chic{
    main{
        background-color: $back-color-m2;
        font-family: "kaushan";
        h2{
            @include gradient-chic;
        }
        .entre{
            color: $color-text-m2-1;
        }
        .plat{
            color: $color-text-m2-2;
        }
        .dessert{
            color: $color-text-m2-3;
        }
    }
}
.palette{
    main{
        background-color: $back-color-m4;
        h2{
            @include gradient-palette;
        }
    }
}
@media screen and(max-width:768px){
    p{
        font-size: 20px;  
    }
    h4{
        font-size: 18px;
    }
    body{
        margin: auto;
    }  
    header{
        height: 150px;
    a{
        font-size: 50px;
        }
    }
    article{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    main{
        padding-bottom: 50px;
        margin-bottom: 40px;
        h2{
        font-size: 70px;
        height: 60px;
        }
    }
    section{
        .row_menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px ;
        }
    }
    .menu_footer{
        .fa-music{
            margin-top: 50px;
        }
    } 
}
@media screen and(min-width:320px)and(max-width:767px){
    img{
      display: none;}

      h4{
        margin: auto;
        padding-top: 30px;
        
      }
    
    section{
        p{
            margin: 5px;
        }
        h2{
            font-size: 40px;
            text-align: center;
        }
    }
    h2{
        font-size: 30px;
    }
    footer{
        padding:5px;
        a{
        font-size: 20px;
        }
    }
}
