/*---Gradiant---*/
/*---Variable---*/
/*---variable---*/
/*---header---*/
/*---variable---*/
/*---mixin----*/
/*---header---*/
header {
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #579c87;
  border-bottom: 2px solid #a1c181;
}

header a {
  color: #fdcb46;
  text-decoration: none;
  font-size: 72px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---bloc_menu---*/
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 35px;
  padding: 0px;
}

/*----main-----*/
main {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
  margin-bottom: 135px;
  padding-bottom: 200px;
}

.names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 35px;
}

.names h2 {
  height: 50px;
}

.menu_head {
  font-size: 50px;
}

.menu_head .fa-music {
  font-size: 100px;
  margin-top: 70px;
  background: -webkit-linear-gradient(left, #F36D68, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 4.5%;
  line-height: 25px;
}

section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 30%;
}

.row_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 7%;
}

.menu_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 30px;
}

/*--footer--*/
/*---variable---*/
/*---mixin----*/
/*----footer----*/
footer {
  border-top: 2px solid #a1c181;
  background-color: #579c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 138px;
  padding: 0px 40px;
}

footer a {
  color: #fdcb46;
  font-size: 40px;
  text-decoration: none;
}

footer a:hover {
  -webkit-animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 100px;
          perspective: 100px;
}

body {
  color: #3d1319;
}

.note main {
  background-color: #fcdfdb;
}

.delice main {
  background-color: #edefef;
}

.delice main h2 {
  background: -webkit-linear-gradient(left, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic main {
  background-color: #fff5fe;
}

.chic main h2 {
  background: -webkit-linear-gradient(left, #d8852e, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette main {
  background-color: #fdfffd;
}

.palette main h2 {
  background: -webkit-linear-gradient(left, #3d9339, #c8fe94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 20px;
  }
  h4 {
    font-size: 22px;
  }
  body {
    margin: auto;
  }
  header {
    height: 150px;
  }
  header a {
    font-size: 50px;
  }
  article {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  main {
    margin-top: 0px;
    padding-bottom: 50px;
  }
  main h2 {
    font-size: 50px;
    height: 60px;
  }
  main .names {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  section {
    line-height: 5px;
  }
  section .row_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .menu_footer .fa-music {
    margin-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  img {
    display: none;
  }
  h4 {
    margin: auto;
  }
  section {
    line-height: 25px;
  }
  section p {
    margin: 5px;
  }
  section h2 {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style2.css.map */