* {
    margin: 0px;
}
/*---variable---*/
@import "../utils/variable.scss";
/*---mixin----*/
@import "../utils/mixin.scss";
/*---keyframes---*/
@import "../utils/keyframes.scss";
/*---header---*/
@import "../layout/header.scss";
/*---gradiant---*/
@import "../utils/gradiant.scss";
/*---font_face---*/
@import "../Fonts/police.scss";
/*-----section---*/
section{
    display: flex;
    justify-content: center;
}
h3{
    font-size: 70px;
    padding-top: 50px;
}
h2{
    font-size: 40px;
}
/*-----bloc_menu---*/
.menu {
        line-height: 50px;
        margin-top: 95px;
        display: flex;
        width: 33%;
        box-shadow: 0px 0px 10px grey;
        a{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            height: 755px;
            width: 100%;
        }
    }
    /*-----menu1---*/
.menu_1{
    background-color: $back-color-m1;
    margin-right: 100px;
    font-family: "devon_shire";
    h2{
        color: $color-m1 ;
    }
    h3{
        color: $color-m1 ;
        
    }
}
.fa-music{
    @include color-icones;
    font-size: 100px;
    
}
/*-----menu2---*/
.menu_2{
    background-color: $back-color-m2;
    font-family: "pax_bold";
    h2{
        @include gradient_chic;
    }
    h3{
        color: #d8852e;
    }
}
/*-----menu3---*/
.menu_3{
    background-color: $back-color-m3;
    margin-right: 100px;
    font-family: "dancing";
    h2{
        @include gradient_delice;
    }
    h3{
        color: #0887FB;
    }
    
}
/*-----menu4---*/
.menu_4{
    background-color: $back-color-m4;
    font-family: "kaushan";
    h2{
        @include gradient_palette;
    }
    h3{
        color: #3d9339;
    }
 }
 /*-----transition_zoom---*/
.zoom{
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover{
        transform: scale(1.20);
        opacity: 0.7;

    }
/*---prochainement---*/
 }
aside{
    background-color:$color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 120px;
    border-radius: 15px;
    margin: 88px auto;
    color: $color-text;
    font-size: 40px;
    p{
        display: flex;
        margin-right: 30px;
    }
    /*-----icônes---*/
    .fa-circle {
        font-size: 15px;
        margin-right: 20px;
        margin-top: 15px;
        animation-name: dots;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition-timing-function: ease-in-out;
        &.fa-circle:nth-child(3){
            animation-delay: 0.5s;
            color:  #e04f4f;}
        &.fa-circle:nth-child(4){
            color:  #4f803c;
            animation-delay: 1s;
        }
    }
}
/*----footer----*/
@import "../layout/footer.scss";
/*-----media_screen_tablette-----*/
@media screen and (min-width:426px)and (max-width:768px){
    header{
        height: 110px ;
        a{
        font-size: 50px;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        
        
        .menu{
            margin: 4%;
            font-size: 10px;
            line-height: 30px;
            width: 46%;
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 25px;
            }
            a{
                height: 400px;
            }
            .fa-music{
                font-size: 50px;
            }
        }
    }
    aside{
        margin: auto;
        width: 65%;
        height: 40px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        p{
            margin-right: 15px;
        }
        .fa-circle{
            font-size: 10px;
        }
    }
    footer{
        display: flex;
        padding: 10px;
        height: 110px;
        a{
            font-size: 20px;
        }
    }
}
/*---media query mobile petit ecran ---*/
@media screen and (max-width:425px){
    header{
        height: 100px ;
        a{
        font-size: 50px;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        
        .menu{
            height: 400px;
            display: flex;
            align-items: center;
            margin: auto;
            width: 70%;
            margin-top: 30px;
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 25px;
            }
            a{
                height: 400px;
                
            }
        }
    }
    aside{
        margin: auto;
        width: 65%;
        height: 40px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        p{
            margin-right: 5px;
        }
        .fa-circle{
            font-size: 10px;
            margin: 4px;
        }
    }
    footer{
        display: flex;
        padding: 10px;
        height: 60px;
        a{
            font-size: 20px;
        }
    }
}
/*---media query mobile petit ecran ---*/