. {
    margin: 0px;
}

a{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
}
header {
    display: flex;
    background-color: rgb(87,156,135);
    border-bottom: 3px solid green;
    height: 240px;
    align-items: center;
    justify-content: center;
    color: rgb(253,203,70);
}  
h1{
    font-size: 78px;
    
}

section{
    display: flex;
    justify-content: center;
}
section:nth-child(2){
    padding-top: 100px;
}

.menu_1{
    font-size: 35px;
    height: 763px;
    background: rgb(252,223,219);
    width: 36%;
    margin-right:100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #905BFD);
    box-shadow: 1px 1px 10px 1px grey;
}
.menu_1 a{
    color: #3C1218;
}
/*---Le_chic_à_la_française---*/
.menu_2{
    height: 763px;
    background: rgb(255,245,254);
    width: 36%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px grey;
}

.menu_2 h2{
    color: #c77412;
    background: linear-gradient(to right, #c77412 0%, #6e4ccc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}
.menu_2 h3 {
    color: #c77529;
    font-size: 70px;
}

.menu_3{
    height: 763px;
    background: rgb(249,249,249);
    width: 36%;
    margin: 90px 100px 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px grey;
}
.menu_3 h2{
    font-size: 50px;
    color: #0431DF;
    background: linear-gradient(to right, #0431DF 40%, #0887FB 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_3 h3 {
    color: #0887FB;
}
.menu_4{
    height: 763px;
    background: rgb(253,255,253);
    width: 36%;
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px grey;
}
.menu_4 h2{
    font-size: 50px;
    color: #3d9339;
    background: linear-gradient(to right, #3d9339 40%, #bfff7e 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_4 h3 {
    color: #71be55;
}
aside {
    background-color: rgb(87,156,135);
    height: 120px;
    max-width: 655px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 50px;
    color:rgb(253,203,70);
    padding: 0px 100px;
    border-radius: 15px;   
    
    
}
footer {
    background-color: rgb(87,156,135);
    height: 137px;
    border-top: 3px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(253,203,70);
    margin-top: 80px;
    font-size: 35px;
    padding: 0px 36px 0px 40px;
}
h3 {
    font-size: 42px;
}
section p{
    font-size: 36px;
}
