/*---variable---*/
$color-primary: rgb(87,156,135);
$color-text:rgb(253,203,70);
$back-color-m1: rgb(252, 223, 219);
$back-color-m2: rgb(255, 245, 254);
$back-color-m3: rgb(237,239,239);
$back-color-m4: rgb(253,255,253);
$color-m1:#3c1218
