/*---variable---*/
$color-primary: rgb(87,156,135);
$color-text:rgb(253,203,70);
$color-m1: rgb(252, 223, 219);
$color-m2: rgb(255, 245, 254);
$color-m3: rgb(249,249,249);
$color-m4: rgb(253,253,253);
